<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="base">
<head>
    <title>Annotation Home</title>
</head>
<body>

<!--This just updates the links in the header.-->

<div layout:fragment="navlinks">
    <ul class="nav navbar-nav" id="pagesbar">
        <li><a href="/document/">Home</a></li>
        <li><a href="/document/annotation">All annotations</a></li>
        <!--<li><a href="/document/dict">Dictionary</a></li>-->
    </ul>
</div>


</body>


</html>