<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="document/doc-base">
<head>
    <title>YOUR TITLE HERE</title>
</head>
<body>

<div layout:fragment="content">
<div class="container">
    <h3>Let's get started</h3>

    Green rows are documents you have seen and saved.

    <!--<a class="btn btn-primary" href="/annotation?taid=0&amp;cid=0" >Let's go!</a>-->

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Num Labels</th>
            <th>Text annotation</th>
        </tr>
        <tr th:each="key : ${tamap.keySet()}" class="" th:classappend="${annotatedfiles.contains(key)} ? success : none">
            <td th:text="${key}"></td>
            <td th:text="${tamap.get(key).getView('NER_CONLL').getConstituents().size()}"></td>
            <td><a href="#" th:href="@{/document/annotation(taid=${key})}" th:text="${tamap.get(key).getText().substring(0,2)}"></a></td>
        </tr>
    </table>

</div>
</div>
</body>


</html>
