<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="sentence/sent-base">
<head>
    <title>Annotation</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container">

        <!-- Show all groups, -->
        <div th:if="${groupid} == null">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="nav-item"><a href="#unanno" class="nav-link active" aria-controls="unanno" role="tab" data-toggle="tab">Unannotated</a></li>
                <li class="nav-item" role="presentation"><a href="#anno" class="nav-link" aria-controls="anno" role="tab" data-toggle="tab">Annotated</a></li>
                <li class="nav-item" role="presentation"><a href="#suggestions" class="nav-link" aria-controls="suggestions" role="tab" data-toggle="tab">Suggestions</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- This set of sentences is all unannotated -->
                <div role="tabpanel" class="tab-pane active" id="unanno">

                    <div class="spacer"></div>

                    <div class="row">
                        <div class="col-md-9">
                            <div class="list-group">
                                <div th:each="groupid : ${unannogroups.keySet()}" class="list-group-item flex-column">

                                    <div class="d-flex">

                                        <a th:href="'/sentence/sents?groupid=' + ${groupid}" class="mr-1"><h5 th:text="'Group: ' + ${groupid} + ' (' + ${unannogroups.get(groupid).size()} + ' sentences)'" class="list-group-item-heading"></h5></a>
                                        <span class="mr-auto" th:text="'Num unlabeled:' + ${unlabeledamount.get(groupid)}"></span>

                                        <a th:each="label : ${labels}"
                                           th:href="@{/sentence/addtextsave(text=${groupid},label=${label},groupid=${groupid})}"
                                           th:class="${label} + ' btn btn-outline-secondary btn-sm ml-1'"
                                           th:classappend="${session.groups.get(groupid).maxType()} == ${label} ? bestlabel : ignorelabel"
                                           th:text="${label}"></a>
                                        <a th:href="@{/sentence/removeterm(term=${groupid})}" class="btn btn-outline-secondary btn-sm ml-1" th:text="Remove"></a>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="spacer"></div>
                            <p th:text="${labeledtokens} + '/' + ${totaltokens}"></p>
                            <p th:text="'Percentage: ' + 100*${labeledtokens}/${totaltokens}"></p>
                            <p th:text="'Num anno sents: ' + ${numannosents}"></p>
                            <p th:text="'Num sents in groups: ' + ${numsentsingroups}"></p>

                            <a th:href="'/sentence/annotateall'" class="btn btn-default">Annotate all</a>
                        </div>
                    </div>
                </div>

                <!-- This set of sentences is all annotated -->
                <div role="tabpanel" class="tab-pane" id="anno">

                    <div class="spacer"></div>

                    <div class="row">
                        <div class="col-md-9">
                            <div class="list-group">
                                <a th:each="groupid : ${annogroups.keySet()}" th:href="'/sentence/sents?groupid=' + ${groupid}" class="list-group-item">
                                    <h4 th:text="'Group: ' + ${groupid} + ', Label: ' + ${session.groups.get(groupid).maxType()} + ' (' + ${annogroups.get(groupid).size()} + ' sentences)'" class="list-group-item-heading"></h4>
                                    <!--<p th:text="${annogroups.get(groupid).get(0)}" class="list-group-item-text"></p>-->

                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-default">Write out to file</button>
                            <div class="spacer"></div>
                            <p th:text="${labeledtokens} + '/' + ${totaltokens}"></p>
                            <p th:text="'Percentage: ' + 100*${labeledtokens}/${totaltokens}"></p>
                            <p th:text="'Num anno sents: ' + ${numannosents}"></p>

                        </div>
                    </div>
                </div>

                <!-- This set of sentences is all unannotated -->
                <div role="tabpanel" class="tab-pane active" id="suggestions">

                    <div class="spacer"></div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="list-group">
                                <div th:each="label : ${contexts.keySet()}" class="list-group-item">

                                    <h4 th:text="${label}"></h4>
                                    <ul>
                                        <li th:each="ctx : ${contexts.get(label)}" th:text="${ctx}"></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Show a particular group -->
        <div th:unless="${groupid} == null">

            <h3 th:text="'Group: ' + ${groupid} + ', ' + ${grouptype}"></h3>

            <div class="row">
                <div th:utext="${html}" id="htmlcontainer" class="col-md-8">
                </div>
                <div class="col-md-4">
                    <div class="form-group" data-spy="affix" data-offset-top="0">
                        <a id="savebutton" class="btn btn-default" role="button"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</a>
                        <a id="dictbutton" class="btn btn-default" th:classappend="${session.dict.isEmpty()} ? disabled : mothing" role="button"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Toggle Dict.</a>

                        <div class="spacer"></div>
                        <button th:each="label : ${labels}"
                                th:id="'addlabel-' + ${label}"
                                th:class="${label} + ' btn'"
                                th:classappend="${grouptype} == ${label} ? bestlabel : ignorelabel"
                                th:text="${label}"></button>
                        <div class="spacer"></div>

                        <div id="entitysuggestions"></div>

                        <a style="color:gray" href="#top">Back to top</a>

                    </div>

                </div>
            </div>



        </div>

    </div>

    <script>
        /*<![CDATA[*/

        $(document).ready(function() {
            console.log("loading stuff...");

            var highlighting = false;
            var range = {start:-1, end:-1}

            function resetrange(){
                range = {start:-1, end:-1};
                $(".highlighted").removeClass("highlighted");
            }

            function updaterange(id){
                var intid = parseInt(id.split("-")[1]);
                if(range.start == -1 && range.end == -1){
                    range.start = intid;
                    range.end = intid;
                    return true;
                }

                if(range.start - intid == 1){
                    range.start = intid;
                    return true;
                }

                if(range.end - intid == -1){
                    range.end = intid;
                    return true;
                }

                return false;

            }


            function loadtok(){
                console.log("loadtok called...");

                $(document).mouseup(function(event){
                    highlighting = false;
                });


                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })


                // just clean everything out first...


                $("[id^=tok]").popover({
                    placement: "bottom",
                    content: function () {
                        var html = $("#buttons").html();
                        var out = " <div id='popover" + $(this)[0].id + "'>" + html + "</div>";
                        return out;
                    },
                    title: function () {
                        var t = $(this)[0];
                        return "Labeled: " + t.className + ", id: " + t.id;
                    },
                    html: true,
                    trigger: "manual"
                });

                //$("[id^=tok]").off("mouseup");

                $("[id^=tok]").mouseover(function(event){

                    if(highlighting && updaterange(this.id)) {
                        $(this).addClass("highlighted");
                    }
                });

                // click on anything but a letter, and they hide.
                $(document).mousedown(function(e){

                    if(!e.target.id.startsWith("tok")) {
                        $("[id^=tok]").popover("hide");
                        $(".highlighted").removeClass("highlighted");
                    }
                });

                $("[id^=tok]").mouseup(function(event){

//                    $(this).removeClass("highlighted");

                    // only toggle on the left click.
                    if(event.which == 1) {
                        $("[id^=tok]").not($(this)).popover('hide');
                        $(this).popover("toggle");
                    }

                    highlighting = false;

                });

                $("[id^=tok]").mousedown(function(event){
                    console.log($(this));
                    highlighting = true;
                    resetrange();
                    updaterange(this.id);
                    $(this).addClass("highlighted");

                });

                $("div.text")
                    .mouseenter(function(){})
                    .mouseleave(function(){
                        highlighting = false;
                    })


                // on right click, change label to nothing.
                $("[id^=tok]").contextmenu(function(event){
                    event.preventDefault();
                    var span = event.currentTarget;
                    console.log("Right clicked on " + span.id);

                    removelabel(span);
                });
            }

            loadtok();

            $("#dictbutton").click(function(){
                $.ajax({
                    method: "GET",
                    url: "/sentence/toggledefs",
                    data: {sentids: getsentids(), query: getParameterByName("query")}
                }).done(function (msg) {
                    console.log("successful toggle");
                    $("#htmlcontainer").html(msg);
                    loadtok();
                });

            });

            $("#loadtokbutton").click(function(){
                loadtok();
            });

            // this runs when you click on a single button.
            $("body").on("click", '.popover button', function(){
                var buttonvalue = $(this)[0].value;

                //var spanid = $(this).parents("[id^=popovertok]")[0].id;
                console.log($(this).parents());
                var sentid = $(this).parents(".card-body")[0].id;

                console.log(sentid);
                console.log("Clicked on a button..." + buttonvalue);
                console.log(range);

                var startid = "tok-" + range.start;
                var endid = "tok-" + (range.end+1);

                addlabel(sentid, startid, endid, buttonvalue);
            });


            function getParameterByName(name) {
                var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
                return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
            }

            // given a span id (e.g. tok-4), return the integer
            function getnum(spanid){
                return parseInt(spanid.split("-").slice(-1)[0]);
            }

            // Given a span, remove the label.
            function removelabel(span) {

                $("#savebutton").html("<span class=\"glyphicon glyphicon-floppy-disk\" aria-hidden=\"true\"></span> Save");
                $("#savebutton").css({"border-color" : "#c00"});

                var sentid = $(span).parents(".card-body")[0].id;

                // returns just the number of the token. tok-4, returns 4.
                var tokid = getnum(span.id);

                console.log("Removing label from: " + sentid + ":" + tokid);

                $.ajax({
                    method: "POST",
                    url: "/sentence/removetoken",
                    data: {sentid: sentid, tokid: tokid}
                }).done(function (msg) {
                    console.log("successful removal.");
                    refreshsents();
                });

            }

            // run this function when you click on a token.
            function addlabel(sentid, starttokid, endtokid, newclass) {
                console.log("Adding " + newclass + " to " + starttokid + "---" + endtokid + ", sentid=" + sentid);

                $("#savebutton").html("<span class=\"glyphicon glyphicon-floppy-disk\" aria-hidden=\"true\"></span> Save");
                $("#savebutton").css({"border-color" : "#c00"});


                var srch = window.location.pathname.endsWith("/search");
                var srchanno = getParameterByName("searchinanno") == "on";

                $.ajax({
                    method: "POST",
                    url: "/sentence/addspan",
                    data: {label: newclass,
                        starttokid: getnum(starttokid),
                        endtokid:getnum(endtokid),
                        sentid: sentid,
                        sentids: getsentids(),
                        propagate: srch == srchanno }
                }).done(function (msg) {
                    refreshsents();
                    getsuggestions();
                });
            };

            function refreshsents(){
                var query= getParameterByName("query");
                $.ajax({
                    method: "POST",
                    url: "/sentence/gethtml",
                    data: {sentids: getsentids(), query: query}
                }).done(function (msg) {
                    $("#htmlcontainer").html(msg);
                    loadtok();
                });
            }

            function getsuggestions(){
                console.log("getting suggestions...")
                var query= getParameterByName("query");
                $.ajax({
                    method: "POST",
                    url: "/sentence/getsuggestions",
                    data: {sentids: getsentids(), query: query}
                }).done(function (msg) {
                    $("#entitysuggestions").html(msg);
                });
            }

            $("[id^=addlabel-]").click(function(d){

                var label = $(this).text();
                var text= getParameterByName("groupid");

                $("#savebutton").html("<span class=\"glyphicon glyphicon-floppy-disk\" aria-hidden=\"true\"></span> Save");
                $("#savebutton").css({"border-color" : "#c00"});

                $.ajax({
                    method: "GET",
                    url: "/sentence/addtext",
                    data: {text: text, label: label, sentids: getsentids()}
                }).done(function (msg) {
                    console.log(msg);
                    refreshsents();
                });
            });

            function getsentids(){
                var ids = $.map($(".text"), function(n, i){
                    return n.id;
                });
                return ids;
            }

            function save(){
                var groupid = getParameterByName("groupid");
                console.log("saving group: " + groupid);

                $.ajax({
                    url: "/sentence/save",
                    data: {groupid: groupid, sentids: getsentids()},
                    method: "POST",
                    beforeSend: function() {
                        // setting a timeout
                        $("#savebutton").html("<span class=\"fa fa-spinner fa-spin\"></span> Saving...");
                    }
                }).done(function (msg) {
                    console.log("finished saving!");
                    $("#savebutton").html("<span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span> Saved!");
                    $("#savebutton").css({"border-color" : ""});
                });

            };
            $( "#savebutton" ).click(save);
        });


        /*]]>*/
    </script>

    <template id="buttons">
        <div class="container-fluid">

            <div th:each="label,iterStat : ${labels}" th:if="${iterStat.index % 2 == 0}" class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" th:id="${labels[iterStat.index]}" class="btn labelbutton" th:classappend="${labels[iterStat.index]}" th:field="${labels[iterStat.index]}" th:value="${labels[iterStat.index]}" th:text="${labels[iterStat.index]}"></button>
                    </div>
                    <div class="col-md-4" th:if="${iterStat.index+1} &lt; ${labels.size()}">
                        <button type="button" th:id="${labels[iterStat.index+1]}" class="btn labelbutton" th:classappend="${labels[iterStat.index+1]}" th:field="${labels[iterStat.index+1]}" th:value="${labels[iterStat.index+1]}" th:text="${labels[iterStat.index+1]}"></button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" id="O" class="btn btn-default" value="O">No label</button>
                    </div>
                </div>
            </div>

        </div>
    </template>

</div>

</body>

</html>