<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="base">
<head>
    <title>Annotation Home</title>
</head>
<body>

<!--This just updates the links in the header.-->

<div layout:fragment="navlinks">
    <ul class="navbar-nav mr-auto" id="pagesbar">
        <li class="nav-item"><a class="nav-link" href="/sentence/">Sentence</a></li>
        <li class="nav-item"><a class="nav-link" href="/sentence/sents">Groups</a></li>
    </ul>



    <!--<form th:unless="${session.username} == null" class="form-inline mr-auto" action="search" method="get">-->
    <!--<div class="input-group">-->
    <!--<span class="input-group-addon">-->
    <!--<input type="checkbox" id="searchinanno" name="searchinanno" /> Search in anno-->
    <!--</span>-->
    <!--<input type="text" class="form-control" name="query" placeholder="Search ffor..." />-->
    <!--<span class="input-group-btn">-->
    <!--<button class="btn btn-default" id="searchbutton" type="submit">Go!</button>-->
    <!--</span>-->
    <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
    <!--</form>-->
</div>


</body>


</html>
