<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{base}">
<head>
    <title>Sentence Annotation</title>
</head>
<body>

<!--This just updates the links in the header.-->

<div layout:fragment="navlinks">
    <ul class="navbar-nav mr-auto" id="pagesbar">
        <li class="nav-item"><a class="nav-link" href="/sentence/">Sentence</a></li>
        <li class="nav-item"><a class="nav-link" href="/sentence/annotation">Groups</a></li>
    </ul>


</div>
gre

</body>


</html>
