.pointer {
    cursor: pointer;

}

.cons {
    padding: 3px;
    border-radius: 5px;
}

#legendcontainer {
    padding: 7px;
}

.legend {
    width: 10px;
    height: 10px;
    padding: 3px;
    border-radius: 3px;
}

#text {
    font-size: 14pt;
}

.popover{
    max-width: 600px; /* Max Width of the popover (depending on the container!) */
}

#savebutton {
    width: 100px;
}

#tagdescriptions {
    margin: 10px;
}

#tagdescriptions span {
    padding: 2px;
    border-radius: 2px;
}