.pointer {
    cursor: pointer;

}

.cons {
    padding: 3px;
    border-radius: 5px;
}

.suggestion {
    border-bottom: 1px dashed gray;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: black;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    border: 1px solid lightgray;
}

.suffix {
    color: lightgray;
}

#legendcontainer {
    padding: 7px;
}

.legend {
    width: 10px;
    height: 10px;
    padding: 3px;
    border-radius: 3px;
}

#text {
    font-size: 14pt;
}

.popover{
    max-width: 600px; /* Max Width of the popover (depending on the container!) */
}

#savebutton {
    width: 100px;
}

#tagdescriptions {
    margin: 10px;
}

#tagdescriptions span {
    padding: 2px;
    border-radius: 2px;
}

.def {
    font-style: italic;
}

/*** Works on common browsers ***/
::selection {
    background-color: lightgray;
    /*color: red;*/
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #352e7e;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #352e7e;
    color: #fff;
}

::-ms-selection {
    background-color: #352e7e;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #352e7e;
    color: #fff;
}