<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Annotation</title>

    <div th:include="base :: head"></div>

</head>
<body>
<div th:include="base :: nav"></div>
  <div class="container">

      <h3>Annotation Example</h3>

      <!--<div id="legendcontainer">-->
          <!--Legend:-->
          <!--<span class="PER legend">PER</span>-->
          <!--<span class="ORG legend">ORG</span>-->
          <!--<span class="LOC legend">LOC</span>-->
          <!--<span class="GPE legend">GPE</span>-->
      <!--</div>-->


      <div id="tagdescriptions">

          <p><span class="PER">Person</span>: Humans identified by name, nickname or alias.
          E.g., Hillary Clinton, George W. Bush</p>

          <p><span class="ORG">Organization</span>: Corporations, institutions, goverment agencies and other groups of people
          E.g., Republican Parity, World Bank, NYPD, ABC News, San Francisco 49ers</p>

          <p><span class="LOC">Location</span>: Names of geographically defined places (international regions, bodies of water, mountains, etc.) Locations also include man-made structures like airports, highways, streets, factories, and monuments.

          E.g., North America, Mars, Berlin Wall, Disneyland, Mississippi River</p>

          <p><span class="GPE">Geopolitical</span>: (1) a physical location, (2) a government, and (3) a population. All three of these elements must be present
          E.g., United States, China, Philadelphia, Illinois</p>

      </div>

      <div class="panel panel-default">
          <div class="panel-body" >
              <div th:utext="${htmlstring}" id="text" />
          </div>
      </div>

      <a id="removebutton" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove All Labels</a>
      <!--<a id="savebutton" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</a>-->
      <br />
      <br />

      <div class="btn-group btn-group" role="group" aria-label="Next and previous">
          <a th:if="${previd} != -1" th:href="@{/annotation(taid=${previd})}" href="#" class="btn btn-default saveclass" role="button"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Previous</a>
          <a th:if="${nextid} != -1" th:href="@{/annotation(taid=${nextid})}" href="#" class="btn btn-default saveclass" role="button">Next <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
      </div>


  </div>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function() {

        function getParameterByName(name) {
            var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
            return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
        }

        $("[id^=tok]").popover({
            placement: "bottom",
            content: function () {
                var html = $("#buttons").html();
                var out = "<div id='" + $(this)[0].id + "'>" + html + "</div>";
                return out;
            },
            title: function () {
                var t = $(this)[0];
                return "Labeled: " + t.className + ", id: " + t.id;
            },
            html: true,
            trigger: "manual"
        }).on("click", function(){
            $(this).popover("toggle");
        });

        $("#removebutton").click(function(){
            $.each($(".pointer"), function(i, v){
                console.log(v);
                changelabel("O",v.id);
            });
        });

//        // buttonvalue is the new label.
//        function changelabel(buttonvalue, spanid){
//
//            console.log(buttonvalue);
//            console.log(spanid);
//
//            // TODO: make labels be generic.
//            $("#" + spanid).removeClass("PER ORG LOC GPE O").addClass(buttonvalue);
//
//            // I need the name of the button pressed
//            // and I need the span it is associated with.
//            $.ajax({
//                method: "POST",
//                url: "/result",
//                data: {label: buttonvalue, spanid: spanid, id: getParameterByName("taid")}
//            }).done(function (msg) {
//                console.log("WOOT");
//            });
//        }

        // on right click, change label to nothing.
//        $(".pointer").contextmenu(function(event){
//            console.log(event);
//            event.preventDefault();
//            console.log("Right clicked!");
//            var spanid = event.currentTarget.id;
//
//            changelabel("O", spanid);
//        });

        $(".container").on("click", "button", function(){

            var buttonvalue = $(this)[0].value;

            var spanid = $(this).parents("[id^=tok]")[0].id;

            console.log("Clicked on a button..." + buttonvalue);
            console.log("refers to: " + spanid);

            $("#" + spanid).popover("hide");

            tokenclick(spanid, buttonvalue);
        });

        $('body').on('click', function (e) {

            $('[id^=tok]').each(function () {
                //the 'is' for buttons that trigger popups
                //the 'has' for icons within a button that triggers a popup
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });

        });

        // given a span id (e.g. tok-4), return the integer
        function getnum(spanid){
            return parseInt(spanid.split("-")[1]);
        }

        function isLabel(s, label){
            return $(s).parent().hasClass(label);
        }

        // run this function when you click on a token.
        function tokenclick(spanid, newclass) {

            var tokid = getnum(spanid);

            var tokobj = $("#" + spanid);
            console.log(tokobj);

            var prev= "#tok-" + (tokid -1);
            var next = "#tok-" + (tokid + 1);

            if(isLabel(tokobj, newclass)){
                console.log("remove class");

                if(isLabel(prev, newclass) && isLabel(next, newclass)){
                    console.log("interior - don't do anything.");
                } else if(isLabel(next, newclass)){
                    tokobj.insertBefore(tokobj.parent());
                }else if(isLabel(prev, newclss)){
                    tokobj.insertAfter(tokobj.parent());
                    //$(this).remove();
                }else{
                    var p = tokobj.parent();
                    tokobj.insertBefore(p);
                    p.remove();
                }

            }else{
                console.log("add class");

                // TODO: decide on logic for interior case.
                //if(isOrg(prev) && isOrg(next)){
                //    console.log("interior");
                //} else
                if(isLabel(next, newclass)){
                    console.log("next is org");

                    var cons = $(next).parent();
                    tokobj.detach();
                    cons.prepend(tokobj);

                }else if (isLabel(prev, newclass)) {
                    console.log("prev is org");

                    var cons = $(prev).parent();
                    tokobj.detach();
                    cons.append(tokobj);

                }else{
                    // all on your own.
                    tokobj.detach();

                    var cons = $("<span>", {class: newclass + " pointer cons"});
                    cons.append(tokobj);
                    cons.insertAfter(prev);
                }
            }

            // clean up
            // get all spans with class ORG
            // fix ids
            // remove if has no children.
            $("span.cons").each(function (){
                var kids = $(this).children("span");
                if(kids.length == 0){
                    $(this).remove();
                }else{
                    var first = $(kids[0]);
                    var last = $(kids[kids.length-1]);
                    var firstnum = getnum(first.attr("id"));
                    var lastnum = getnum(last.attr("id"))+1;

                    var newspanid = "cons-"+ firstnum+"-" + lastnum;
                    $(this).attr("id", newspanid);

                    $.ajax({
                        method: "POST",
                        url: "/result",
                        data: {label: "ORG", spanid: newspanid, id: getParameterByName("taid")}
                    }).done(function (msg) {
                        console.log("WOOT");
                    });

                }

            });
        };


        function savetas(){
            console.log("saving tas...");

            console.log(this);

            var taid = getParameterByName("taid");
            console.log(taid);

            $.ajax({
                url: "/save",
                data: {taid: taid}
            }).done(function (msg) {
                console.log("finished saving!");
            });

        }

        $( ".saveclass" ).click(savetas);

        $( "#savebutton" ).click(savetas);



    });




    /*]]>*/
</script>

<template id="buttons">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4">
                <button type="button" id="PER" class="btn PER" th:field="PER" value="PER">PER</button>
            </div>
            <div class="col-md-4">
                <button type="button" id="ORG" class="btn ORG" th:field="ORG" value="ORG">ORG</button>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row"><br /></div>
        <div class="row">

            <div class="col-md-4">
                <button type="button" id="LOC" class="btn LOC" value="LOC">LOC</button>
            </div>
            <div class="col-md-4">
                <button type="button" id="GPE" class="btn GPE" value="GPE">GPE</button>
            </div>
            <div class="col-md-4">
                <button type="button" id="O" class="btn btn-default" value="O">No label</button>
            </div>
        </div>
    </div>
</template>

</html>
