<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Annotation</title>

    <div th:include="base :: head"></div>

</head>
<body>
<div th:include="base :: nav"></div>
  <div class="container">

      <h3>Annotation Example</h3>

      <!--<div id="legendcontainer">-->
          <!--Legend:-->
          <!--<span class="PER legend">PER</span>-->
          <!--<span class="ORG legend">ORG</span>-->
          <!--<span class="LOC legend">LOC</span>-->
          <!--<span class="GPE legend">GPE</span>-->
      <!--</div>-->

      <!--<div id="tagdescriptions">-->

          <!--<p><span class="PER">Person</span>: Humans identified by name, nickname or alias.-->
          <!--E.g., Hillary Clinton, George W. Bush</p>-->

          <!--<p><span class="ORG">Organization</span>: Corporations, institutions, goverment agencies and other groups of people-->
          <!--E.g., Republican Parity, World Bank, NYPD, ABC News, San Francisco 49ers</p>-->

          <!--<p><span class="LOC">Location</span>: Names of geographically defined places (international regions, bodies of water, mountains, etc.) Locations also include man-made structures like airports, highways, streets, factories, and monuments.-->

          <!--E.g., North America, Mars, Berlin Wall, Disneyland, Mississippi River</p>-->

          <!--<p><span class="GPE">Geopolitical</span>: (1) a physical location, (2) a government, and (3) a population. All three of these elements must be present-->
          <!--E.g., United States, China, Philadelphia, Illinois</p>-->

      <!--</div>-->

      <div class="panel panel-default">
          <div class="panel-body" >
              <div th:utext="${htmlstring}" id="text" />
          </div>
      </div>

      <a id="removebutton" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove All Labels</a>
      <!--<a id="savebutton" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</a>-->
      <br />
      <br />

      <div class="btn-group btn-group" role="group" aria-label="Next and previous">
          <a th:if="${previd} != -1" th:href="@{/annotationadd(taid=${previd})}" href="#" class="btn btn-default saveclass" role="button"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Previous</a>
          <a th:if="${nextid} != -1" th:href="@{/annotationadd(taid=${nextid})}" href="#" class="btn btn-default saveclass" role="button">Next <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
      </div>

  </div>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function() {

        function getParameterByName(name) {
            var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
            return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
        }


        $("#removebutton").click(function(){
            $.each($(".pointer"), function(i, v){
                console.log(v);
                changelabel("O",v.id);
            });
        });

        // buttonvalue is the new label.
        function changelabel(buttonvalue, spanid){

            //$("#" + spanid).removeClass("PER ORG LOC GPE O").addClass(buttonvalue);

            // this loops over all spans in the text and adds
            var tokens = $(".token");

            // I need the name of the button pressed
            // and I need the span it is associated with.

        }

        function isOrg(s){
            return $(s).parent().hasClass("ORG");
        }

        // given a span id (e.g. tok-4), return the integer
        function getnum(spanid){
            return parseInt(spanid.split("-")[1]);
        }

        // run this function when you click on a token.
        $('[id^=tok]').click(function () {
            var spanid = $(this)[0].id;
            console.log("Clicked: " + spanid);

            var tokid = getnum(spanid);

            var prev= "#tok-" + (tokid -1);
            var next = "#tok-" + (tokid + 1);

            if(isOrg(this)){
                console.log("remove class");

                if(isOrg(prev) && isOrg(next)){
                    console.log("interior - don't do anything.");
                } else if(isOrg(next)){
                    $(this).insertBefore($(this).parent());
                }else if(isOrg(prev)){
                    $(this).insertAfter($(this).parent());
                    //$(this).remove();
                }else{
                    var p = $(this).parent();
                    $(this).insertBefore(p);
                    p.remove();
                }

            }else{
                console.log("add class");

                // TODO: decide on logic for interior case.
                //if(isOrg(prev) && isOrg(next)){
                //    console.log("interior");
                //} else
                if(isOrg(next)){
                    console.log("next is org");

                    var cons = $(next).parent();
                    $(this).detach();
                    cons.prepend($(this));

                }else if (isOrg(prev)) {
                    console.log("prev is org");

                    var cons = $(prev).parent();
                    $(this).detach();
                    cons.append($(this));

                }else{
                    // all on your own.
                    $(this).detach();

                    var cons = $("<span>", {class: "ORG pointer"});
                    cons.append($(this));
                    cons.insertAfter(prev);

                }
            }

            // clean up
            // get all spans with class ORG
            // fix ids
            // remove if has no children.
            $("span.ORG").each(function (){
                var kids = $(this).children("span");
               if(kids.length == 0){
                   $(this).remove();
               }else{
                   var first = $(kids[0]);
                   var last = $(kids[kids.length-1]);
                   var firstnum = getnum(first.attr("id"));
                   var lastnum = getnum(last.attr("id"))+1;

                   var newspanid = "cons-"+ firstnum+"-" + lastnum;
                   $(this).attr("id", newspanid);

                   $.ajax({
                       method: "POST",
                       url: "/result",
                       data: {label: "ORG", spanid: newspanid, id: getParameterByName("taid")}
                   }).done(function (msg) {
                       console.log("WOOT");
                   });

               }

            });
        });


        function savetas(){
            console.log("saving tas...");

            console.log(this);

            var taid = getParameterByName("taid");
            console.log(taid);

            $.ajax({
                url: "/save",
                data: {taid: taid}
            }).done(function (msg) {
                console.log("finished saving!");
            });

        }

        $( ".saveclass" ).click(savetas);

        $( "#savebutton" ).click(savetas);

    });

    /*]]>*/
</script>

</html>
