<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Home</title>
    <div th:include="base :: head"></div>

</head>
<body>
<div th:include="base :: nav"></div>
<div class="container">
    <h3>Bootstrap home</h3>


    <div class="row">

        <div th:each="groupid : ${groups.keySet()}" class="list-group-item">
            <h3 th:text="'Group ' + ${groupid} + ' (' + ${groups.get(groupid).size()} + ' sentences)'"></h3>

            <a th:href="'/bootstrap/sents?groupid=' + ${groupid}" th:text="${groups.get(groupid).get(0).getSurfaceForm()}"></a>
        </div>

    </div>
</div>
</body>


</html>