<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started</title>
    <div th:include="base :: head"></div>

</head>
<body>
<div th:include="base :: nav"></div>
<div class="container">
    <h3>Instructions</h3>

    <p>Assume the language of interest is Tamil.</p>

    <p>Click "Load dictionary" in the banner, and load the Tamil dictionary.</p>

    <p>Then go to "All Annotations" and click on Tamil. This will show you a listing of documents. Click on the first one and start annotating. The order doesn't matter, but it might be simplest to start at the beginning.</p>

    <p>To annotate: click on a word and choose the tag. To annotate a phrase, highlight the text. There are also rules on the right hand side. These are not necessarily correct, but are just aids in telling you previous annotations. Click on a rule to apply it.</p>

    <p>Right click to remove tags.</p>

    <p>Click on Toggle Dictionary to show English translations in place. Feel free to go back and fix previous annotations (actually highly recommended).</p>


</div>
</body>


</html>