<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{sentence/sent-base}">
<head>
    <title>Annotation</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container">

        <h3 th:text="${textid}"></h3>

        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body" >
                        <div th:utext="${html}" id="htmlcontainer" class="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" data-spy="affix" data-offset-top="0">
                    <a id="savebutton" class="btn btn-default" role="button"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</a>
                    <a id="dictbutton" class="btn btn-default" th:classappend="${session.dict.isEmpty()} ? disabled : mothing" role="button"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Toggle Dict.</a>

                    <div class="spacer"></div>
                    <button th:each="label : ${labels}"
                            th:id="'addlabel-' + ${label}"
                            th:class="${label} + ' btn'"
                            th:classappend="${grouptype} == ${label} ? bestlabel : ignorelabel"
                            th:text="${label}"></button>
                    <div class="spacer"></div>

                    <a style="color:gray" href="#top">Back to top</a>

                </div>

            </div>
        </div>


    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var controller = "document";

        /*]]>*/
    </script>

    <script src="#" th:src="@{/js/annotate.js}"></script>

    <template id="buttons">
        <div class="container-fluid">

            <div th:each="label,iterStat : ${labels}" th:if="${iterStat.index % 2 == 0}" class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" th:id="${labels[iterStat.index]}" class="btn labelbutton" th:classappend="${labels[iterStat.index]}" th:field="${labels[iterStat.index]}" th:value="${labels[iterStat.index]}" th:text="${labels[iterStat.index]}"></button>
                    </div>
                    <div class="col-md-4" th:if="${iterStat.index+1} &lt; ${labels.size()}">
                        <button type="button" th:id="${labels[iterStat.index+1]}" class="btn labelbutton" th:classappend="${labels[iterStat.index+1]}" th:field="${labels[iterStat.index+1]}" th:value="${labels[iterStat.index+1]}" th:text="${labels[iterStat.index+1]}"></button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" id="O" class="btn btn-default" value="O">No label</button>
                    </div>
                </div>
            </div>

        </div>
    </template>

</div>

</body>

</html>